@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill\ Sans\ Light\ Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill\ Sans\ Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill\ Sans\ Medium\ Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill\ Sans\ Bold\ Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill\ Sans\ Heavy\ Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill\ Sans\ Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill\ Sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/GillSans\ Condensed.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/GillSans\ Condensed\ Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill\ Sans\ Medium.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill\ Sans\ Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../assets/fonts/Gill\ Sans\ Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
